main {
  display: grid;
}

article {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
